.section-v2-work-container > .workv2-container {
  margin-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #EBEBEE;
}

.section-v2-work-container > .workv2-container:first-child {
  margin-top: 0;
}

.section-v2-work-container > .workv2-container:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.tag-ds h2.section-v2-title {
  margin-bottom: 40px;
}

.section-v2-container {
  margin-top: 72px;
}

@media (max-width: 768px) {
  .section-v2-title {
    margin-bottom: 10px;
  }
  .section-v2-container {
    margin-top: 40px;
  }
}