.dashboard-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.dashboard-submit {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.dashboard-tablecrud-title {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.dashboard-selector {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.dashboard-dialog {
  width: 100%;
  max-width: 500px;
  border-radius: .5rem;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  position: absolute;
  inset: 0;
}

.dashboard-dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  -webkit-animation: none;
  animation: none;
}
.dashboard-dialog[open]::backdrop {
  -webkit-animation: show-backdrop 0.5s ease 0.2s normal;
  animation: show-backdrop 0.5s ease 0.2s normal;;
}
.dashboard-dialog.hide::backdrop {
  -webkit-animation: hide-backdrop 0.5s ease 0.2s normal;
  animation: hide-backdrop 0.5s ease 0.2s normal;
}
@keyframes show-backdrop {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes hide-backdrop{
  to {
      opacity: 0;
  }
}