.custom-chip {
  border-radius: 16px;
  background-color: var(--secondary100);
  text-transform: uppercase;
  padding: 4px 16px;
}

.case-studies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px
}

.case-studies-card {
  animation: scaleit .2s;
  display: flex;
  flex-direction: column;
  transition: transform .2s;
}

.case-studies-card > .custom-chip {
  width: fit-content;
}

.case-studies-card:hover {
  transform: scale(1.01);
  transition: transform .2s;
}

.case-studies-container { 
  margin-bottom: 72px; 
}

.case-studies-title {
  margin-bottom: 40px !important;
}

.card-img-container {
  margin: 0 -24px;
  margin-bottom: 20px;
  height: 200px;
}

.card-img {
  height: 200px;
  margin-bottom: 20px;
  border-radius: 8px 8px 0 0;
  width: 100%;
  object-fit: cover;
}

.card-title {
  margin-top: 24px !important;
  margin-bottom: 8px !important;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.card-description-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.card-description-inner {
  color: var(--neutral700);
}

.card-button-details {
  margin-top: auto;
  margin-left: auto;
}

@media (max-width: 768px) {
  .case-studies {
    grid-template-columns: none;
    grid-template-rows: auto;
    width: 335px;
    margin: auto;
  }
} 