@import './variables.scss';
@import './global.scss';
@import './fonts.scss';
@import './grid.scss';
@import './forms.scss';
@import './buttons.scss';
@import './breadcrumb.scss';
// @import './dropdown.scss';
// @import './toggle.scss';
@import './avatar.scss';
@import './chip.scss';
// @import './tooltip.scss';
@import './statusTag.scss';
@import './lists.scss';
// @import './calendar.scss';
// @import './tabs.scss';
// @import './accordion.scss';
@import './sidebar.scss';
// @import './cards.scss';
@import './badge.scss';
// @import './fileUploader.scss';
// @import './modal.scss';
@import './loader.scss';
// @import './slider.scss';
// @import './carousel.scss';
@import './notification.scss';
// @import './contentSwitcher.scss';
@import './links.scss';
// @import './overflowMenu.scss';
// @import './paginator.scss';
// @import './stepper.scss';
@import './separator.scss';
// @import './upperMenu.scss';
// @import './treeView.scss';
// @import './table.scss';
// @import './progressBar.scss';
// @import './scrollbar.scss';
// @import './numberInput.scss';
// @import './drawer.scss';
// @import './splashScreen.scss';
// @import './quote.scss';

// @import '../theme/adecco.scss';
// @import '../theme/lhh.scss';

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: var(--fontFamily);
  letter-spacing: normal;
  color: var(--neutral800);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tag-ds,
.tag-ds *:not(.material-icons, .material-icons-outlined, .material-icons-round) {
  font-family: var(--fontFamily);
  letter-spacing: normal;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-icons {
  font-family: 'Material Icons Round';
}

.tag-ds {
  color: var(--neutral800);
  background-color: var(--neutral0);
  .bg04,
  &.bg04 {
    color: var(--neutral0);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  .tag-ds {
      --neutral800: #ffffff;
      --neutral700: #f8f8f9;
      --neutral600: #ebebee;
      --neutral500: #e0e0e4;
      --neutral400: #ccccd3;
      --neutral300: #adadb5;
      --neutral200: #7c828a;
      --neutral100: #5c6573;
      --neutral0: #1c304b;
    
      /** Brand colour, for impact and emphasis **/
      --accent700: #eff8f7;
      --accent600: #ceeae8;
      --accent500: #aedcd9;
      --accent400: #8dcdc9;
      --accent300: #5cb8b2;
      --accent200: #367c78;
      --accent100: #275956;
    
      /** Main interactive colour for CTA, Buttons, Interactive elements, etc. **/
      --primary700: #ced7e4;
      --primary600: #8894a5;
      --primary500: #727f8f;
      --primary400: #495667;
      --primary300: #1c304b;
      --primary200: #030c18;
      --primary100: #000306;
    
      /** Secondary interactive colour for links, icons, interactive elements. **/
      --secondary700: #ccf2ff;
      --secondary600: #99e6ff;
      --secondary500: #33cdff;
      --secondary400: #009acc;
      --secondary300: #107b9e;
      --secondary200: #0e6987;
      --secondary100: #004d66;
  }
}