.footer-container {
  z-index: 3;
  position: relative;
  padding: 80px 144px;
  display: flex;
  justify-content: space-between;
  background-color: var(--neutral800);
}

.footer-nav {
  color: var(--neutral0)
}

.footer-nav > * {
  margin-right: 32px;
}

.footer-nav *:last-child {
  margin-right: 0;
}

.footer-nav-anchor {
  color: var(--neutral0) !important;
  text-transform: capitalize !important;
}

.footer-nav-cv {
  cursor: pointer;
}

.footer-name {
  color: var(--neutral500)
}

@media (prefers-color-scheme: dark) {
  .footer-container {
    background-color: var(--neutral200);
  }
  .footer-nav {
    color: var(--neutral800)
  }
  .footer-nav-anchor {
    color: var(--neutral800) !important;
  }
}

@media (max-width: 768px) {
  .footer-container {
    padding: 32px 16px 24px 16px;
    display: block;
  }
  .footer-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 32px;
  }
  .footer-nav *:last-child {
    height: fit-content;
  }
  .footer-nav > * {
    margin-right: 0;
  }

  .footer-nav::after {
    content: "";
    height: 1px;
    width: 343px;
    background-color: var(--neutral400);
    position: absolute;
    bottom: -32px;
  }

  .footer-name {
    margin-top: 64px;
    text-align: end;
  }
}