.layout-inner {
  display: flex;
}

.layout-content {
  width: 100%;
  margin-left: 80px;
}

@media (max-width: 768px) {
  .layout {
    animation: fadeIn .7s cubic-bezier(1,-0.05,.8,1.12);
  }
  .layout-inner {
    display: block;
  }
  .layout-content {
    margin-left: 0;
    padding-inline: 20px;
  }
}