.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-top: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.welcome-header {
  animation: 1s;
  animation-name: slidein;
  margin-top: 13rem;
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-left: 5%;
    width: 300;
  }

  to {
    opacity: 1;
    margin-left: 0%;
    width: 100%;
  }
}

.arrow-logo {
  height: 5vmin;
  margin-top: auto;
}

.head-logo {
  align-self: flex-end;
  padding: 1rem 1rem;
}

.first-section {
  background-color: #2d323b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: white;
}

.first-section-title {
  margin-top: 10rem;
}