.App {
  text-align: center;
  color: white;
}

.header {
  height: 46vh;
  display: flex;
  padding: 7rem 2rem;
  justify-content: space-around;
  align-items: center;
}

.header-content {
  transition: opacity 0.5s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
  text-align: right;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  max-width: 30%;
}

.header-content > h1 > span {
  color: var(--primary);
}

.header-image {
  height: 27rem;
  width: 60%;
  object-fit: cover;
}

.cards-section {
  margin-top: 15rem;
  display: flex;
  justify-content: space-around;
}

.icon-image {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  animation: move-icon infinite 3s linear;
}

.inverse {
  animation: move-icon-inverse infinite 3s linear;
}

.work {
  border: 2px solid var(--primary);
  border-radius: 7px;
  padding: 1rem;
  max-width: 300px;
  display: flex;
  justify-content: left;
  text-align: left;
  flex-direction: column;
  flex: 1 1 200px;
}

.work-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--quaternary);
  justify-self: center;
  margin-bottom: 0;
  position: relative;
}

.work-position {
  color: white;
}

.work-subtitle {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.subtitle-container {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--secondary);
  border-radius: 7px;
}

.subtitle-container > h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes move-icon {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes move-icon-inverse {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.card {
  color: black;
  background-color: white;
  border-radius: 7px;
  max-width: 400px;
  margin: 1rem;
  padding: 1rem;
  position: relative;
}

.fade-in {
  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.button {
  border: 0;
  background-color: var(--tertiary);
  border-radius: 7px;
  color: white;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: opacity 0.1s ease-in-out;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.button_small {
  background-color: var(--secondary);
  color: white;
  padding: 0.5rem;
  margin: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: opacity 0.1s ease-in-out;
}


.button_small:hover {
  opacity: 0.8;
}

.button_small:active {
  opacity: 0.6;
}

.copied {
  position: relative;
}

.copied::after {
  content: 'Copied!';
  position: absolute;
  width: 40px;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg01);
  color: white;
  padding: 0.5rem;
  font-size: 0.7rem;
  border-radius: 7px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  animation: slide 0.2s ease-in;
}

.interactive:hover {
  opacity: 0.8;
}

.interactive:active {
  opacity: 0.6;
}

.markdown {
  height: 500px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}

.repos-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.repos-container-repos {
  overflow: auto;
  max-height: 500px;
}

.repos-container-mark {
  max-height: 500px;
  width: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0;
  padding: 0;
}

.repos-container-mark-placeholder {
  height: 500px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minimal {
  background-color: white;
  color: black;
  border-radius: 7px;
  border: 3px solid var(--primary);
}

.first-time {
  position: relative;
}

.first-time::before {
  font-size: 0.7rem;
  content: 'First time here?. Click on the Repo tab to see the Readme of the repo';
  position: absolute;
  width: 200px;
  left: 50%;
  top: 0;
  background-color: var(--quaternary);
  padding: 0.5rem;
  border-radius: 7px;
  transform: translate(-50%, -100%);
  transition: opacity 0.2s ease-in;
  animation: fade 0.2s ease-in;
}

.default-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.description {
  border: 2px solid var(--accent01);
  border-radius: 7px;
  width: 90vw;
  padding: 1rem;
}

.readme {
  position: absolute;
  top: 0;
  right: 0;
}

.works-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.card-header>h3 {
  margin: .7rem;
}

.card-body {
  text-align: left;
}

footer {
  margin-top: 5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(3px);
  transition: all .2s linear;
}

.icon-close {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: color .2s linear;
}

.icon-close:hover {
  color: gray;
}

.modal-content {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 2rem;
  position:fixed;
  width: 40%;
  height: 50%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  overflow-y: scroll;
}

.modal-content>.markdown {
  height: auto;
}

.icon-more {
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  transition: transform .2s linear;
  position: absolute;
  right: 0;
  top: 8px;
}

.icon-more-horizontal {
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  transform: rotate(-90deg);
  transition: transform .2s linear;
  position: absolute;
  right: 0;
  top: 8px;
}

@keyframes slide {
  0% {
    transform: translate(-50%, 100%);
    opacity: 0;
  }

  75% {
    transform: translate(-50%, 25%);
    opacity: 0.2;
  }

  100% {
    transform: translate(-50%, 0%);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(+60deg);
  }
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 1rem;
    justify-content: center;
    height: 27rem;
    align-items: center;
  }

  .header-image {
    width: 100%;
  }

  .image-container {
    position: absolute;
    z-index: -1;
    top: 1rem;
  }

  .header-content {
    margin-left: auto;
    margin-right: 3rem;
    height: 22rem;
    display: flex;
  }

  .header-content > h1 {
    font-size: 3rem;
    margin-top: auto;
  }

  .subtitle-container {
    margin-top: 5rem;
    width: 70%;
  }

  .subtitle-container > h2 {
    font-size: 1rem;
  }

  .icons-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5rem 2rem;
  }

  .cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    margin-top: 5rem;
  }

  .card {
    max-width: 300px;
    margin: 1rem;
  }

  .card.repo {
    margin: 0;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
  }

  .repos-container {
    flex-direction: column;
  }

  .repos-container-repos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 100%;
    width: 350px;
  }

  .card.repo > h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }

  .works-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .modal-content {
    width: 80vw;
  }

  .work {
    flex: unset;
    width: 80vw;
    margin-top: 0;
  }

  .work-title {
    margin-top: 0;
  }
}
