.App {
  text-align: center;
  color: white;
}

.header {
  height: 46vh;
  display: flex;
  padding: 7rem 2rem;
  justify-content: space-around;
  align-items: center;
}

.header-content {
  transition: opacity 0.5s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
  text-align: right;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  max-width: 30%;
}

.header-content>h1>span {
  color: var(--primary);
}

.header-image {
  height: 27rem;
  width: 60%;
  object-fit: cover;
}

.cards-section {
  margin-top: 15rem;
  display: flex;
  justify-content: space-around;
}

.icon-image {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  animation: move-icon infinite 3s linear;
}

.inverse {
  animation: move-icon-inverse infinite 3s linear;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.subtitle-container {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--secondary);
  border-radius: 7px;
}

.subtitle-container>h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes move-icon {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes move-icon-inverse {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-10%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.card {
  color: black;
  background-color: white;
  border-radius: 7px;
  max-width: 400px;
  margin: 1rem;
  padding: 1rem;
}

.fade-in {
  animation: fade 0.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.button {
  border: 0;
  background-color: var(--tertiary);
  border-radius: 7px;
  color: white;
  padding: .5rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: opacity 0.1s ease-in-out;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: .6;
}

.button>a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.copied {
  position: relative;
}

.copied::after {
  content: "Copied!";
  position: absolute;
  width: 40px;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg01);
  color: white;
  padding: .5rem;
  font-size: .7rem;
  border-radius: 7px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  animation: slide .2s ease-in;
}

.interactive:hover {
  opacity: .8;
}

.interactive:active {
  opacity: .6;
}

.markdown {
  height: 500px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
}


.repos-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.repos-container-repos {
  overflow: auto;
  max-height: 500px;
}

.repos-container-mark {
  max-height: 500px;
  min-width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 0;
  padding: 0;
}

.repos-container-mark-placeholder {
  height: 500px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.minimal {
  background-color: white;
  color: black;
  border-radius: 7px;
  border: 3px solid var(--accent01);
}

.first-time {
  position: relative;
}

.first-time::before {
  font-size: .7rem;
  content: "First time here?. Click on the Repo tab to see the Readme of the repo";
  position: absolute;
  width: 200px;
  left: 50%;
  top: 0;
  background-color: var(--quaternary);
  padding: .5rem;
  border-radius: 7px;
  transform: translate(-50%, -100%);
  transition: opacity .2s ease-in;
  animation: fade .2s ease-in;
}

footer {
  margin-top: 5rem;
}

@keyframes slide {
  0% {
    transform: translate(-50%, 100%);
    opacity: 0;
  }

  75% {
    transform: translate(-50%, 25%);
    opacity: .2;
  }

  100% {
    transform: translate(-50%, 0%);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(+60deg);
  }
}

@media screen and (max-width: 600px) {

  .header {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 1rem;
    justify-content: center;
    height: 27rem;
    align-items: center;
  }

  .header-image {
    width: 100%;
  }

  .image-container {
    position: absolute;
    z-index: -1;
    top: 1rem;
  }

  .header-content {
    margin-left: auto;
    margin-right: 3rem;
    height: 22rem;
    display: flex;
  }

  .header-content>h1 {
    font-size: 3rem;
    margin-top: auto;
  }

  .subtitle-container {
    margin-top: 5rem;
    width: 70%;
  }

  .subtitle-container>h2 {
    font-size: 1rem;
  }

  .icons-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5rem 2rem;
  }

  .cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    justify-content: center;
    margin-top: 5rem;
  }

  .card {
    max-width: 300px;
    margin: 1rem;
  }

  .card.repo {
    margin: 0;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
  }

  .repos-container {
    flex-direction: column;
  }

  .repos-container-repos {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 100%;
    width: 350px
  }

  .card.repo>h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }
}