:root {
  --bg01: #1b1f24;
  --primary: #FFC15E;
  --secondary: #F7B05B;
  --tertiary: #F7934C;
  --quaternary: #CC5803;
  --accent01: #5E1D60;
}

body {
  background-color: var(--bg01);
  color: white;
  margin: 0;
  font-family: 'Bebas Neue', cursive, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}