:root {
  --bg01: #262b32;
  --primary: #ffc15e;
  --secondary: #f7b05b;
  --tertiary: #f7934c;
  --quaternary: #cc5803;
  --accent01: #8f2592;
}

h1,h2,h3,h4,.title {
  font-family: 'Bebas Neue', cursive, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

body {
  overflow-x: hidden;
  background-color: var(--bg01);
  color: white;
  margin: 0;
  font-family: system-ui, cursive, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--secondary);
  cursor: pointer;
  transition: opacity .2s ease;
}

a:hover {
  opacity: .9;
}

.title {
  font-family: 'Bebas Neue', cursive, Helvetica Neue, Helvetica, Arial,
    sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-box {
  text-align: left;
  font-size: 50px;
  color: var(--secondary);
}

@media screen and (max-width: 600px) {
  .title-box {
    text-align: center;
  }
}