:root {
  --bg01: #262b32;
  --primary: #ffc15e;
  --secondary: #f7b05b;
  --tertiary: #f7934c;
  --quaternary: #cc5803;
  --accent01: #5e1d60;
}

body {
  overflow-x: hidden;
  background-color: var(--bg01);
  color: white;
  margin: 0;
  font-family: 'Bebas Neue', cursive, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
