.workv2-container {
  display: flex;
  gap: 72px;
  animation: scaleit .5s;
}

.workv2-container {
  display: flex;
  gap: 72px;
  animation: scaleit .5s;
}

.section-tech_stack {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.section-desc-subtitle {
  margin-bottom: -8px;
}

.section-tech-subtitle {
  margin-top: 32px;
  margin-bottom: 8px;
}

.work-description {
  font-size: 16px;
  line-height: 24px;
}

@keyframes scaleit {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 400px;
    opacity: 1;
  }
}
